$main-blue: rgb(173, 219, 221);
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

body {
    background-color: $main-blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
}

header {
    background-color:cadetblue;
    padding: 5vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $box-shadow;

    ul {
        display: flex;
        list-style-type: none;
        gap: 100px;

        li a {
            background-color: white;
            padding: 1rem 2rem;
            color: black;
            text-decoration: none;
            border-radius: 2rem;
            font-weight: bold;
            box-shadow: $box-shadow;
        }
    }
}

header ul li a:hover {
    background-color:rgb(136, 187, 189);
    color: black;
}

h1 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.75rem;
    margin: 5vh 5vw;
}

h3 {
    font-size: 1.5rem;
    margin: 3vh 0;
}

.rubrik-text {
    margin: 3vh 5vw;
}

ul {
  padding-left: 0;
  margin: 0;
}

#message {
    margin: 3vh 5vw;
    background-color: white;
    border-radius: 1.25rem;
    padding: 2rem;
    width: 17.5vw;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 5vh;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    header {
        flex-direction: column;

        ul {
            flex-direction: column;
            gap: 3vh;
        }
    }

    header ul li a {
        display: block;
        width: 80vw;
        text-align: center;
        border-radius: 10px;
    }
}