@use "./base" as *;

#erfarenhet-lista {
    margin: 5vh 5vw;
}

.experience-item {
    background-color:rgb(146, 195, 199);
    list-style-type: none;
    padding: 2vh 3vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin-bottom: 5vh;
}

#form {
    display: flex;
    flex-direction: column;
    margin: 3vh 5vw;
    width: 20vw;
    
    input {
        margin-bottom: 3vh;
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
    }

    textarea {
        margin-bottom: 5vh;
        border: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    button {
        background-color:rgb(35, 64, 65);
        color: white;
        border: none;
        padding: 1rem 0;
        border-radius: 2rem;
        font-weight: bold;
        cursor: pointer;
    }

    button:hover {
        background-color: white;
        color: black;
    }
}

.text {
    margin: 0 5vw;
    width: 65vh;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .experience-item {
        flex-direction: column;
        text-align: center;
        gap: 0.5vh;
    }

    #form {
        input, textarea, button {
            width: 60vw;
        }
    }

    .text {
        width: 80vw;
    }
}